<div class="content">
    <div class="welcome">
        <div class="text">
            <h1>Ing. Christopher Medina</h1>
            <p>Full Stack Web Developer</p>
            <p>Como desarrollador full stack, me especializo en construir aplicaciones web robustas con el objetivo de desarrollar productos funcionales y de alta calidad</p>
            <button pButton>Mis proyectos</button>
        </div>

        <!-- <div class="logo">
            <img src="../../../assets/img/me.jpg" alt="">
        </div> -->
    </div>

    <!-- proyectos -->

    <div class="separator">
        <h1>Mis Proyectos</h1>
    </div>

    <div class="grid">
        <div class="card">
            <div class="img">
                <img src="../../../assets/img/notilab.jpg" class="cardImg">
            </div>

            <div class="title">
                <h1>Notilab</h1>
            </div>

            <div class="description">
                <p>Sistema integral de gestión diseñado para optimizar las operaciones de los laboratorios de computación, cuenta con manejo remoto de los equipos, así como calendarios y tablas de organización.</p>
            </div>

            <div class="skills">
                <div class="tags">
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/html.webp" class style="width: 20px" />
                            <span class="text-base">
                                HTML
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/css.png" class style="width: 20px" />
                            <span class="text-base">
                                CSS
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>
                    
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/ts.png" class style="width: 20px" />
                            <span class="text-base">
                                TypeScript
                            </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="../../../assets/img/catedraGaitera.jpg" class="cardImg">
            </div>

            <div class="title">
                <h1>Cátedra Gaitera</h1>
            </div>

            <div class="description">
                <p>Página web para venta de tickets, cuenta con carrito de compras y pasarela de pagos, al ser completada la compra se envía un código QR al correo del usuario, sirviendo como su entrada digital para un acceso rápido y eficiente al evento.
                </p>
            </div>

            <div class="skills">
                <div class="tags">
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/html.webp" class style="width: 20px" />
                            <span class="text-base">
                                HTML
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/css.png" class style="width: 20px" />
                            <span class="text-base">
                                CSS
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/ts.png" class style="width: 20px" />
                            <span class="text-base">
                                TypeScript
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/php.webp" class style="width: 20px" />
                            <span class="text-base">
                                PHP
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/mysql.png" class style="width: 20px" />
                            <span class="text-base">
                                MYSQL
                            </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="../../../assets/img/pokedex.jpg" class="cardImg">
            </div>

            <div class="title">
                <h1>Pokedex</h1>
            </div>

            <div class="description">
                <p>Página web para ver todos los pokemon existentes dentro de la pokedex, los cuales pueden ser buscados a través de su posición en la pokedex global
                </p>
            </div>

            <div class="skills">
                <div class="tags">
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/html.webp" class style="width: 20px" />
                            <span class="text-base">
                                HTML
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/css.png" class style="width: 20px" />
                            <span class="text-base">
                                CSS
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/js.png" class style="width: 20px" />
                            <span class="text-base">
                                JAVASCRIPT
                            </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="../../../assets/img/uplink.jpg" class="cardImg">
            </div>

            <div class="title">
                <h1>Up Link</h1>
            </div>

            <div class="description">
                <p>Sistema web de facturación de servicios, el cual permite llevar el control de las deudas de los usuarios así como también activar o desactivar su servicio.
                </p>
            </div>

            <div class="skills">
                <div class="tags">
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/html.webp" class style="width: 20px" />
                            <span class="text-base">
                                HTML
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/css.png" class style="width: 20px" />
                            <span class="text-base">
                                CSS
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/ts.png" class style="width: 20px" />
                            <span class="text-base">
                                TypeScript
                            </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="../../../assets/img/VitalSense.png" class="cardImg">
            </div>

            <div class="title">
                <h1>VitalSense</h1>
            </div>

            <div class="description">
                <p>aplicación movil para el monitoreo y detección de alteraciones cardiácas, la misma muestra gráficas mensuales y semanales así como también genera un PDF mensual, permitiendo llevar un control de tus pulsaciones.
                </p>
            </div>

            <div class="skills">
                <div class="tags">
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/html.webp" class style="width: 20px" />
                            <span class="text-base">
                                HTML
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/css.png" class style="width: 20px" />
                            <span class="text-base">
                                CSS
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/react.webp" class style="width: 20px" />
                            <span class="text-base">
                                React
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/ts.png" class style="width: 20px" />
                            <span class="text-base">
                                TypeScript
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/Node.js.png" class style="width: 20px" />
                            <span class="text-base">
                                NodeJs
                            </span>
                        </div>
                    </p-tag>

                    
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/mysql.png" class style="width: 20px" />
                            <span class="text-base">
                                MYSQL
                            </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>
    </div>

    <!-- experiencia -->

     <div class="separator">
        <h1>Mi Experiencia</h1>
    </div>

    <div class="panels">
        <div class="left">
            <div class="experience">
            <h1>+2</h1>
            <p>Años de experiencia</p>
            </div>
        </div>

        <div class="mid">
            <p>Más de 2 años de experiencia en el desarrollo de aplicaiones web robustas y de alta calidad</p>
        </div>

        <div class="right">
            <h1>Empresas donde he trabajado</h1>

            <p-timeline [value]="works" class="w-full md:w-80" align="alternate">
                <ng-template #content let-works>
                    {{ works.name }} <br/>
                    {{ works.date }}
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
