<div class="content">
    <div class="welcome">
        <div class="text">
            <h1>Ing. Christopher Medina</h1>
            <p>Full Stack Web Developer</p>
            <p>Como desarrollador full stack, me especializo en construir aplicaciones web robustas con el objetivo de desarrollador productos funcionales y de alta calidad</p>
            <button pButton>Mis proyectos</button>
        </div>

        <div class="logo">
            <i class="pi pi-desktop"></i>
        </div>
    </div>

    <div class="separator">
        <h1>Mis Proyectos</h1>
    </div>

    <div class="grid">
        <div class="card">
            <div class="img">
                <img src="../../../assets/img/notilab.PNG" class="cardImg">
            </div>

            <div class="title">
                <h1>Notilab</h1>
            </div>

            <div class="skills">
                <div class="titleSkills">
                    <p>Habilidades Obtenidas</p>
                </div>

                <div class="tags">
                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>

                    <p-tag>
                        <div class="flex items-center gap-2 px-1">
                            <img alt="Angular" src="../../../assets/img/angular.png" class style="width: 20px" />
                            <span class="text-base">
                                Angular
                            </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>
    </div>
</div>
