<div class="content">
  <div class="welcome">
    <div class="text">
      <h1>Ing. Christopher Medina</h1>
      <p>Full Stack Web Developer</p>
      <p>
        Como desarrollador full stack, me especializo en construir aplicaciones
        web robustas con el objetivo de desarrollar productos funcionales y de
        alta calidad
      </p>
      <div class="buttons">
        <button pButton>Mis proyectos</button>
        <a href="https://github.com/ImChriis" target="_blank" rel="noopener">
          <i class="pi pi-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/imchriis/"
          target="_blank"
          rel="noopener"
        >
          <i class="pi pi-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- <div class="logo">
            <img src="../../../assets/img/me.jpg" alt="">
        </div> -->
  </div>

  <!-- proyectos -->

  <div class="projects">
    <div class="separator">
      <h1>Proyectos</h1>
    </div>

    <div class="grid">
      <div class="card">
        <div class="img">
          <img src="../../../assets/img/notilab.jpg" class="cardImg" />
        </div>

        <div class="title">
          <h1>Notilab</h1>
        </div>

        <div class="description">
          <p>
            Sistema integral de gestión diseñado para optimizar las operaciones
            de los laboratorios de computación, cuenta con manejo remoto de los
            equipos, así como calendarios y tablas de organización.
          </p>
        </div>

        <div class="skills">
          <div class="tags">
            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/html.webp"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> HTML </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/css.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> CSS </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/angular.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> Angular </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/ts.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> TypeScript </span>
              </div>
            </p-tag>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="img">
          <img src="../../../assets/img/catedraGaitera.jpg" class="cardImg" />
        </div>

        <div class="title">
          <h1>Cátedra Gaitera</h1>
        </div>

        <div class="description">
          <p>
            Página web para venta de tickets, cuenta con carrito de compras y
            pasarela de pagos, al ser completada la compra se envía un código QR
            al correo del usuario, sirviendo como su entrada digital para un
            acceso rápido y eficiente al evento.
          </p>
        </div>

        <div class="skills">
          <div class="tags">
            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/html.webp"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> HTML </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/css.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> CSS </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/angular.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> Angular </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/ts.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> TypeScript </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/php.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> PHP </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/mysql.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> MYSQL </span>
              </div>
            </p-tag>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="img">
          <img src="../../../assets/img/pokedex.jpg" class="cardImg" />
        </div>

        <div class="title">
          <h1>Pokedex</h1>
        </div>

        <div class="description">
          <p>
            Página web para ver todos los pokemon existentes dentro de la
            pokedex, los cuales pueden ser buscados a través de su posición en
            la pokedex global
          </p>
        </div>

        <div class="skills">
          <div class="tags">
            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/html.webp"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> HTML </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/css.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> CSS </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/js.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> JAVASCRIPT </span>
              </div>
            </p-tag>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="img">
          <img src="../../../assets/img/uplink.jpg" class="cardImg" />
        </div>

        <div class="title">
          <h1>Up Link</h1>
        </div>

        <div class="description">
          <p>
            Sistema web de facturación de servicios, el cual permite llevar el
            control de las deudas de los usuarios así como también activar o
            desactivar su servicio.
          </p>
        </div>

        <div class="skills">
          <div class="tags">
            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/html.webp"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> HTML </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/css.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> CSS </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/angular.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> Angular </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/ts.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> TypeScript </span>
              </div>
            </p-tag>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="img">
          <img src="../../../assets/img/VitalSense.png" class="cardImg" />
        </div>

        <div class="title">
          <h1>VitalSense</h1>
        </div>

        <div class="description">
          <p>
            aplicación movil para el monitoreo y detección de alteraciones
            cardiácas, la misma muestra gráficas mensuales y semanales así como
            también genera un PDF mensual, permitiendo llevar un control de tus
            pulsaciones.
          </p>
        </div>

        <div class="skills">
          <div class="tags">
            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/html.webp"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> HTML </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/css.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> CSS </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/react.webp"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> React </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/ts.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> TypeScript </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/Node.js.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> NodeJs </span>
              </div>
            </p-tag>

            <p-tag>
              <div class="flex items-center gap-2 px-1">
                <img
                  alt="Angular"
                  src="../../../assets/img/mysql.png"
                  class
                  style="width: 20px"
                />
                <span class="text-base"> MYSQL </span>
              </div>
            </p-tag>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- experiencia -->

  <div class="panels" #experienceDiv [class.fade-in]="hasAnimated">
    <h1>Empresas donde he trabajado</h1>
    <!-- <div class="left">
            <div class="experience">
                <h1>+{{ animatedYears }}</h1>
                <p>Años de experiencia</p>
                <p>En el desarrollo de aplicaiones web robustas y de alta calidad</p>
            </div>
        </div> -->

    <!-- <div class="mid">
            <p>Más de 2 años de experiencia en el desarrollo de aplicaiones web robustas y de alta calidad</p>
        </div> -->

    <div class="right">
      <p-timeline
        [value]="works"
        layout="horizontal"
        class="w-full"
        align="alternate"
      >
        <ng-template #content let-works>
          {{ works.name }} <br />
          {{ works.date }}
        </ng-template>
      </p-timeline>
    </div>
  </div>


  <div class="tech">
    <div class="tabs">
           <div class="techTitle">
        <h1>Habilidades</h1>
      </div>
      <p-tabs value="0">
        <p-tablist>
          <p-tab value="0">Todas</p-tab>
          <p-tab value="1">FrontEnd</p-tab>
          <p-tab value="2">BackEnd</p-tab>
          <p-tab value="3">Otros</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <div class="icon">
              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/html.webp" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>HTML</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/css.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>CSS</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/js.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>JavaScript</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/ts.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>TypeScript</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/angular.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>Angular</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/react.webp" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>React</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/Node.js.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>NodeJS</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/php.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>PHP</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/mysql.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>MySQL</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/sqlserver.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>SQL Server</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/git.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>Git</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/github.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>GitHub</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/gitlab.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>GitLab</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel value="1">
            <div class="icon">
              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/html.webp" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>HTML</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/css.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>CSS</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/js.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>JavaScript</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/ts.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>TypeScript</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/angular.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>Angular</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/react.webp" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>React</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel value="2">
            <div class="icon">
              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/Node.js.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>NodeJS</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/php.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>PHP</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/mysql.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>MySQL</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/sqlserver.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>SQL Server</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel value="3">
            <div class="icon">
              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/git.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>Git</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/github.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>GitHub</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>

              <div class="skill">
                <div class="skillImg">
                  <img src="../../../assets/img/gitlab.png" alt="HTML" />
                </div>

                <div class="skillTitle">
                  <p>GitLab</p>
                  <p-progressbar [value]="50" />
                </div>
              </div>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>

  <div class="contactMe">
    <form #contactForm="ngForm" (ngSubmit)="sendEmail()">
      <h1>Enviame un mensaje!</h1>
      <div class="input-group">
        <label for="name">Nombre</label>
        <input pInputText type="text" name="name" ngModel required />
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input pInputText type="email" name="email" ngModel required />
      </div>

      <div class="input-group">
        <label for="message">Mensaje</label>
        <textarea pInputTextarea name="message" ngModel required></textarea>
      </div>

      <button type="submit" pButton class="btn">Enviar</button>
    </form>

    <div class="info">
      <h1>Información de contacto</h1>
      <p>
        Si tienes alguna pregunta o deseas discutir un proyecto, no dudes en
        contactarme a través de los siguientes medios:
      </p>
      <div class="email">
        <i class="pi pi-envelope"></i>
        <p>christophermedinabarroso&#64;gmail.com</p>
      </div>

      <div class="phone">
        <i class="pi pi-phone"></i>
        <p>+58 4146416366</p>
      </div>


    </div>
  </div>
</div>
