::ng-deep{
    body{
        background-color: var(--background-color);
    }
    
    nav{
        background-color: var(--background-color);
    }
}

.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.text{
    width: 90%;
    max-width: 80%;
    opacity: 0;
    animation:  FadeIn 1.7s ease-in-out forwards;
    margin-left: 80px;
}

.text h1{
    font-size: 50px;
    margin-bottom: 0px;
    color: #e7c505;
}

.text p{
    font-size: 30px;
    margin-top: 0px;
    text-wrap: balance;
    font-weight: 300;
    color: var(--text-color-2);
}

.buttons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.buttons i{
    font-size: 30px;
    cursor: pointer;
    color: var(--text-color);
    &:hover{
        opacity: 0.8;
    }
}

.logo{
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95)
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1)
    }
}

.logo i{
    font-size: 300px;
    opacity: 0;
    animation:  FadeIn 1.7s ease-in-out forwards;
}

.p-button{
    background-color: #e7c505 !important;
    border: none;
    font-weight: 600;
}

.p-button:hover{
    opacity: 0.8;
    background-color: #e7c505 !important;
    border: none;
}

.projects{
    text-align: center;
}

.separator{
    margin-top: 10vh;
    color: var(--text-color);
}

.grid{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.grid.fade-in {
  animation: FadeIn 1.7s ease-in-out forwards;
}

.card{
    width: 30%;
    height: 60vh;
    background-color: var(--card);
    border-radius: 10px;
}

.img{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title{
    margin-left: 20px;
    font-size: 20px;
    color: #ffd100;
    font-weight: bold;
    margin-bottom: 0px;
       text-align: left;
    height: 8%;
}

.description{
    margin-left: 20px;
    text-wrap: balance;
    margin-top: 0px;
    text-align: left;
    color: var(--text-color);
}

.skills{
    margin-left: 20px;
}

.titleSkills{
    color: var(--text-color);
    font-weight: 300;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.p-tag{
    background-color: #ffd100;
    color: black;
}

.panels{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation:  FadeIn 1.7s ease-in-out forwards;
}

.panels.fade-in {
  animation: FadeIn 1.7s ease-in-out forwards;
}

.panels h1{
    color: var(--text-color);
}

.left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.experience{
    width: 100%;
    height: 80%;
    background-color: #ffd100;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    text-wrap: balance;
    text-align: center;
    transition: color 0.3s, transform 0.3s;
    will-change: contents;
}

.experience h1{
    font-size: 100px;
    margin-bottom: 0px;
}

.experience p{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.mid p{
    text-wrap: balance;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .right{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
 }

 .tech{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
 }

 .techTitle{
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .tabs{
    width: 100%;
 }

 .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
 }

 .skill{
    width: 10%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--card);
    padding: 20px;
    border-radius: 10px;
 }

 .skillImg{
    width: 50%;
    height: 30%;
 }

 .skill img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }

 .skillTitle{
    width: 100%;
    text-align: center;
    color: var(--text-color);
 }

.contactMe{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #e7c505;
}

form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #e7c505;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-group{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    color: var(--text-color);
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 80%;
     color: black;
     font-weight: bold;
}


input{
    height: 5vh;
    width: 80%;
}

textarea{
    height: 20vh;
    width: 80%;
    resize: none;
}

.info{
    color: var(--text-color);
}

.email{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.phone{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.btn{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

::ng-deep{
    .p-timeline-event-marker::after{
        color: #ffd100;
        background-color: #ffd100 !important;
        width: 100%;
    }

    .p-timeline-event-content{
        color: var(--text-color);
    }

    .p-tablist-tab-list{
        background-color: transparent !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--background-color) !important;
        display: flex;
        flex-direction: row;
    }

    .p-tabpanels{
        background-color: transparent !important;
    }

    .p-tab-active{
        color: #ffd100 !important;
    }

    .p-tablist-active-bar{
        background-color: #ffd100 !important;

    }

    .p-progressbar-value{
        background-color: #ffd100 !important;
    }

    .p-tablist-active-bar,
    .p-tabview-nav-active .p-tabview-nav-link,
    .p-tabs .p-tablist-active-bar,
    .p-tabs .p-tab-active {
    color: #ffd100 !important;
    border-color: #ffd100 !important;
    transition: background 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s !important;
  }
    
}


