<div class="app-container">
    <nav>
        <div class="logo">
            <i class="pi pi-desktop"></i><p>Chris</p>
        </div>

        <div class="links">
            <a (click)="scrollTo('welcome')">Inicio</a>
            <a (click)="scrollTo('projects')">Proyectos</a>
            <a (click)="scrollTo('panels')">Experiencia</a>
            <a (click)="scrollTo('techTitle')">Habilidades</a>
            <a (click)="scrollTo('contact')">Contacto</a>

        <div class="options" (click)="toggleTheme()" style="cursor:pointer">
            <i *ngIf="!isDarkMode" class="pi pi-sun"></i>
            <i *ngIf="isDarkMode" class="pi pi-moon"></i>
        </div>
        </div>
    </nav>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="links">
            <i class="pi pi-github"></i>
            <i class="pi pi-linkedin"></i>
        </div>
    </footer>
</div>