<div class="app-container">
    <nav>
        <div class="logo">
            <i class="pi pi-desktop"></i><p>Chris</p>
        </div>

        <div class="links">
            <a>Inicio</a>
            <a>Proyectos</a>
            <a>Habilidades</a>
            <a>Experiencia</a>
            <a>Contacto</a>

            <div class="options">
                <i class="pi pi-sun"></i>
            </div>
        </div>
    </nav>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="links">
            <i class="pi pi-github"></i>
            <i class="pi pi-linkedin"></i>
        </div>
    </footer>
</div>